<% provide :page_title, 'Advertisements' %>
<% currently_at 'Advertisements' %>

<h1 class="mb-4">Advertisements</h1>

<%= link_to 'Add advertisement', new_advertisement_path, class: 'btn btn-primary btn-lg' %>

<%= render @advertisements %>

<%= paginate @advertisements %>