<h1>Advertisements</h1>


<% @advertisement.each do |advertisement| %>
  <h2><%= advertisement.title %></h2>

  <p>
    <%= advertisement.body %>
    <br>
    <%= link_to 'Edit', edit_advertisement_path(advertisement) %>
  </p>
<% end %>