<h1 class="mb-4"><%= @advertisement.title %></h1>

<p class="lead my-3">
  <%= @advertisement.body %>
</p>

<%= link_to 'Edit', edit_advertisement_path(@advertisement), class: 'btn btn-secondary' %>
<%= button_to 'Delete', advertisement_path(@advertisement), class: 'btn btn-danger' , method: :delete, data: {confirm: 'Are you sure?'} %>